html  {
	height: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
   background: rgba(105,12,15,1);
   background: -moz-linear-gradient(-45deg, rgba(105,12,15,1) 0%, rgba(113,19,29,1) 22%, rgba(129,19,36,1) 49%, rgba(145,18,48,1) 73%, rgba(164,14,64,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(105,12,15,1)), color-stop(22%, rgba(113,19,29,1)), color-stop(49%, rgba(129,19,36,1)), color-stop(73%, rgba(145,18,48,1)), color-stop(100%, rgba(164,14,64,1)));
  background: -webkit-linear-gradient(-45deg, rgba(105,12,15,1) 0%, rgba(113,19,29,1) 22%, rgba(129,19,36,1) 49%, rgba(145,18,48,1) 73%, rgba(164,14,64,1) 100%);
background: -o-linear-gradient(-45deg, rgba(105,12,15,1) 0%, rgba(113,19,29,1) 22%, rgba(129,19,36,1) 49%, rgba(145,18,48,1) 73%, rgba(164,14,64,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(105,12,15,1) 0%, rgba(113,19,29,1) 22%, rgba(129,19,36,1) 49%, rgba(145,18,48,1) 73%, rgba(164,14,64,1) 100%);
background: linear-gradient(135deg, rgba(105,12,15,1) 0%, rgba(113,19,29,1) 22%, rgba(129,19,36,1) 49%, rgba(145,18,48,1) 73%, rgba(164,14,64,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#690c0f', endColorstr='#a40e40', GradientType=1 );
color: white;	
}

h1 {
  font-family: 'Bubbler One', sans-serif;
  color: white;
}

.siteTitle::before {
  content: url("./img/cinnamon-roll.png");
  zoom: 65%;
}

li {
	list-style: none;
}




.wrapper {
  display: grid;
	grid-template-columns: 50% 50%;
}

.siteTitle {
  justify-self: center;
  text-align: center;

}

.synonymWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/**** SEARCH FORM ****/
form {
  display: flex;
  flex-direction: column;
}

.searchForm {
	display: flex;
  flex-direction: column;
	justify-content: center;
	padding-top: 2em;
}

.searchForm_label {
	padding-right: 2em;
}


input[type=text] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: .4em dotted green;
  font-size: 1em;
  text-indent: 70px; 
  padding: 10px 0 10px 15px;
}

input[type=text]:focus {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: .4em dotted green;
  font-size: 1em;
}

input[type="submit"] {
  background-color: transparent;
  border: 0;
  color: white;
  margin: 0 auto;
  font-size: 1em;
}


.synonymsList {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

  span {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
  }
.basic-slide {
  display: inline-block;
  width: 215px;
  
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  
}



/******* CSSTRANSITIONGROUP CLASSES ********/

/* start enter state */
.slide-enter {
	transform: translateX(-100%);
}


/* end enter state */
.slide-enter.slide-enter-active {
	transform: translateX(0);
	transition: transform .5s ease-out;
}

/* start enter state */
.slide-leave {
  transform: translateX(100%);
}


/* end enter state */
.slide-leave.slide-leave-active {
  transform: translateX(0);
  transition: transform .5s ease-in;
}



/*initial mounting*/
.slide-appear {
	opacity: 0;
}

.slide-appear.slide-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}